
.intro {
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  height: calc(100vh - 60px);
  flex-direction: column;
}

.firstLine, .secondLine, .name {
  display: flex;
  align-items: flex-end;
}

.firstLine {
  font-size: 2em;
  margin-top: 0.5em;
}

.secondLine {
  font-size: 1.5em;
}

.thirdLine {
  font-size: 1.5em;
}

.intro p {
  margin:0 0.4em 0 0;
}

.one {
  animation: fadeIn 0.6s, slideIn 3s 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.one2 {
  animation: fadeIn 1.4s, slideIn 4s 1.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.one3 {
  animation: fadeIn 1.6s, slideIn 4s 1.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.one4 {
  animation: fadeIn 1.78s, slideIn 4s 1.78s cubic-bezier(0.23, 1, 0.32, 1);
}

.one5 {
  animation: fadeIn 1.9s, slideIn 4s 1.9s cubic-bezier(0.23, 1, 0.32, 1);
  font-size: 8em;
}

.secondLine {
  animation: fadeIn 3.5s, slideIn 4s 3.5s cubic-bezier(0.23, 1, 0.32, 1);
}

/*.two2 {*/
  /*animation: fadeIn 3.2s, slideIn 4s 3.2s cubic-bezier(0.175, 0.885, 0.32, 1.01);*/
/*}*/

/*.two3 {*/
  /*animation: fadeIn 3.4s, slideIn 4s 3.4s cubic-bezier(0.175, 0.885, 0.32, 1.01);*/
/*}*/

/*.two4 {*/
  /*animation: fadeIn 3.6s, slideIn 4s 3.6s cubic-bezier(0.175, 0.885, 0.32, 1.01);*/
/*}*/

/*.two5 {*/
  /*animation: fadeIn 3.8s, slideIn 4s 3.8s cubic-bezier(0.175, 0.885, 0.32, 1.01);*/
/*}*/

/*.two6 {*/
  /*animation: fadeIn 4s, slideIn 4s 4s cubic-bezier(0.175, 0.885, 0.32, 1.01);*/
/*}*/

/*.two7 {*/
  /*animation: fadeIn 4.2s, slideIn 4s 4.2s cubic-bezier(0.175, 0.885, 0.32, 1.01);*/
/*}*/

/*.two8 {*/
  /*animation: fadeIn 4.4s, slideIn 4s 4.4s cubic-bezier(0.175, 0.885, 0.32, 1.01);*/
/*}*/

/*.two9 {*/
  /*animation: fadeIn 4.6s, slideIn 4s 4.6s cubic-bezier(0.175, 0.885, 0.32, 1.01);*/
/*}*/

.thirdLine {
  animation: fadeIn 5s, slideIn 4s 5s cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(-20px, 0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translate(500px, 0);
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translate(-500px, 0);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}