.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: none;
  height: 60px;
  align-items: center;
}

.navbar h1 {
  margin-left: 1em;
}

.navbar a {
  text-decoration: none;
  color: #000;
  margin-right: 3em;
}